<div id="<%= dom_id candidate %>">
  <p>
    <strong>Role:</strong>
    <%= candidate.role %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= candidate.userName %>
  </p>

  <p>
    <strong>User vote:</strong>
    <%= candidate.user_vote_id %>
  </p>

  <p>
    <strong>Voting event:</strong>
    <%= candidate.voting_event_id %>
  </p>

</div>
